@charset "utf-8";

/*
    CÓDIGO FUENTE DESARROLLADO POR FRANKLIN MORENO E HIRAM GONZÁLEZ
    CONTACTO: hiramjgonzalez98@gmail.com
    TODOS LOS DERECHOS RESERVADOS
*/

/* INICIO CÓDIGO RESET CSS */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
 box-sizing: border-box;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

/* FIN CÓDIGO RESET CSS */

/* INICIO CÓDIGO CSS PARA APARIENCIA DE PÁGINA WEB */

body{
	background-color: #FFFFFF;
	font-family: 'Play', sans-serif;
	font-size: 16px;
	padding-top: 55px;
}

header{
	background-color: rgb(51,153,255);
	font-family: 'Play', sans-serif;
	position: fixed;
	width: 100%;
	top: 0;
}

.Logo img{
	display: inline-block;
	width: 50px;
	text-align: center;
}

#Encabezado2{
	display: inline-block;
	width: 180px;
	text-align: center;
	margin-right: 230px;
}

#Encabezado3{
	display: inline-block;
	width: 180px;
	text-align: center;
	margin-left: 215px;
}

.Menu{
	font-family: 'Play', sans-serif;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.Menu .btn-Menu{
	display: none;
	color: #0000ff;
	text-decoration: none;
	font-size: 1em;
}

.Menu .Enlaces{
	display: inline-block;
	text-align: right;
}

.Ident_Fecha{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Ident_Fecha p{
	margin-right: 245px;
	font: normal 1em 'Play', sans-serif;
	color: #FFFFFF;
	text-shadow: #696969 1px 1px 2px;
}

.Ident_Fecha span{
	margin-left: 245px;
	font: normal 1em 'Play', sans-serif;
	color: #FFFFFF;
	text-shadow: #696969 1px 1px 2px;
}

.Menu .Enlaces a{
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	text-align: center;
	font-size: 16px;
}

.Menu .Enlaces a:hover{
	background-color: rgba(242,242,242,.7);
	color: rgb(51,153,255);
}

.Menu .Enlaces i{
	margin-right: 5px;
}

.Menu .Enlaces i span{
	font-family: 'Play', sans-serif;
}

main{
	width: 90%;
	max-width: 1000px;
	margin-top: 85px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(242,242,242,.9);
	padding: 20px;
	box-shadow: #696969 10px 10px 15px;
	font-style: 'Play', sans-serif;
}

article{
	background-color: #FFFFFF;
	border: 3px solid rgba(0,30,255,.75);
	padding: 5px;
}

#Principal{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

main article h1{
	background-color: rgb(51,153,255);
	font: 25px bold;
	font-family: 'Play', sans-serif;
	color: #FFFFFF;
	text-align: center;
}

main article hr{
	margin-bottom: .5em;
	height: 2px;
	background: #00b2ee;
	border: none;
}

main article p{
	margin-bottom: 1em;
}

iframe{
	width: 100%;
	height: 356px;
}

#Cal_Prin{
	width: 71%;
	height: 425px;
	background-color: rgba(242,242,242,.9);
	border-collapse: collapse;
	border: 3px solid rgba(0,30,255,.75);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#Meses{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 40%;
	height: 360px;
	margin: 30px auto;
}

#BMes{
	width: 90%;
	font: bold 20px 'Play', sans-serif;
	color: #FFFFFF;
	background-color: rgb(51,153,255);
	cursor: pointer;
}

#BMes:active{
	background-color: rgba(242,242,242,.7);
	color: rgb(51,153,255);
}

#Cal{
	width: 51%;
	height: 360px;
	margin: 90px auto;
    font: 15px "Play", sans-serif;
}

#Sig{
	border-collapse: separate;
	border-spacing: 15px 32px;
	border: 3px solid rgba(0,30,255,.75);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 270px;
	height: 431px;
	background-color: rgb(51,153,255);
	color: #FFFFFF;
}

.Trim{
	border-radius: 15px;
	background-color: #ffd700;
}

.Ins{
	border-radius: 15px;
	background-color: #f57ab1;
}

.Int{
	border-radius: 15px;
	background-color: #045ff4;
}

.Emb{
	border-radius: 15px;
	background-color: #df5333;
}

.Vac{
	border-radius: 15px;
	background-color: #00ff7f;
}

.No_Lab{
	border-radius: 15px;
	background-color: #ff7f00;
}

.Nav{
	border-radius: 15px;
	background-color: #ff00ff;
}

footer{
	text-align: center;
	font-size: 1em;
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #333;
}

footer p{
	font: 1em 'Play', sans-serif;
	color: #F6F6F6;
	text-shadow: #696969 3px 3px 3px;
}

/* FIN CÓDIGO CSS PARA APARIENCIA DE PÁGINA WEB */

/* COMIENZO CÓDIGO EFECTOS DEL MENÚ */

.headroom{
	-moz-transition: -moz-transform 0.3s ease;
	-webkit-transition: -webkit-transform 0.3s ease;
	-ms-transition: -ms-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
}

.headroom--pinned{
	transform: translateY(0%);
}

.headroom--unpinned{
	transform: translateY(-100%);
}

/* FIN CÓDIGO EFECTOS DEL MENÚ */

/* COMIENZO CÓDIGO MEDIAQUERIES */

@media screen and (max-width: 900px){
	.Menu{
		flex-direction: column;
	}

	header .Menu .Logo{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 90%;
		padding: 1em;
		vertical-align: top;
	}

	#Encabezado2{
		display: inline-block;
		width: 150px;
		text-align: center;
		margin-right: 0px;
		vertical-align: top;
	}

	#Encabezado3{
		display: inline-block;
		width: 120px;
		text-align: center;
		margin-left: 0px;
		vertical-align: top;
	}

	header .Menu .Logo .btn-Menu{
		display: inline-block;
		color: #FFFFFF;
	}

	header .Menu .Enlaces{
		width: 90%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.Ident_Fecha{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.Ident_Fecha p{
		margin-right: 0px;
		text-align: center;
		font: bold .75em 'Play', sans-serif;
		color: #FFFFFF;
	}

	.Ident_Fecha span{
		margin-left: 0px;
		text-align: center;
		font: bold .75em 'Play', sans-serif;
		color: #FFFFFF;
	}

	main{
		width: 90%;
		max-width: 1000px;
		margin-top: 70px;
		margin-bottom: 20px;
		margin-right: auto;
		margin-left: auto;
		background-color: rgba(242,242,242,.9);
		padding: 20px;
		box-shadow: #696969 10px 10px 15px;
	}

	#Principal{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	#Cal_Prin{
		width: 100%;
		height: 790px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	#Meses{
		width: 100%;
		margin-top: -15px;
		margin-bottom: -15px;
	}

	#Cal{
		width: 100%;
		margin-bottom: -15px;
		margin-top: -15px;
	}

	#Sig{
		width: 100%;
		margin-top: 7px;
	}

	footer p{
		font: .78em 'Play', sans-serif;
		color: #F6F6F6;
		text-shadow: #696969 3px 3px 3px;
	}

}

/* FIN CÓDIGO MEDIAQUERIES */