@charset "utf-8";

/*
    CÓDIGO FUENTE DESARROLLADO POR FRANKLIN MORENO E HIRAM GONZÁLEZ
    CONTACTO: hiramjgonzalez98@gmail.com
    TODOS LOS DERECHOS RESERVADOS
*/

/* INICIO CÓDIGO RESET CSS */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
 box-sizing: border-box;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

/* FIN CÓDIGO RESET CSS */

/* INICIO CÓDIGO CSS PARA APARIENCIA DE PÁGINA WEB */

body{
	background-color: #7ac5cd;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	padding-top: 55px;
}

#particles-js{
	margin-top: -20px;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

header{
	background-color: #00b2ee;
	position: fixed;
	width: 100%;
	top: 0;
}

.Logo img{
	display: inline-block;
	width: 50px;
	text-align: center;
}

.Menu{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

main{
	width: 90%;
	max-width: 1000px;
	height: 540px;
	margin-top: 17px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(0,30,255,.5);
	padding: 20px;
	box-shadow: #696969 10px 10px 15px;
}

main h1{
	font: 40px bold;
	background-color: rgba(238,59,59,.7);
	width: 55%;
	padding: 5px;
	text-align: center;
	border-radius: 10px;
	border: 3px solid rgb(0,30,255);
	margin-left: auto;
	margin-right: auto;
	box-shadow: #696969 5px 5px 10px;
	-moz-transition: -moz-transform 0.3s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
	-ms-transition: -ms-transform 0.3s ease-in-out 0.1s;
	-o-transition: -o-transform 0.3s ease-in-out 0.1s;
}

main h1:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

#envoltura{
    margin: 125px auto;
    width: 360px;
    background-color: rgba(240,248,255,.7);
    border: 3px solid rgb(0,30,255);
    border-radius: 10px;
    box-shadow: #696969 5px 5px 10px;
    -moz-transition: -moz-transform 0.3s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
	-ms-transition: -ms-transform 0.3s ease-in-out 0.1s;
	-o-transition: -o-transform 0.3s ease-in-out 0.1s;
}

#envoltura:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
 
#cuerpo{
    background:transparent;
    padding: 15px 35px;
}

#Despedida{
	text-align: center;
	font: 25px bold;
}

footer{
	text-align: center;
	font-size: 1em;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer p{
	font: 1em Georgia, "Times New Roman", Times, serif;
	color: #303030;
	text-shadow: #696969 3px 3px 3px;
}

/* FIN CÓDIGO CSS PARA APARIENCIA DE PÁGINA WEB */

/* COMIENZO CÓDIGO EFECTOS DEL MENÚ */

.headroom{
	-moz-transition: -moz-transform 0.3s ease;
	-webkit-transition: -webkit-transform 0.3s ease;
	-ms-transition: -ms-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
}

.headroom--pinned{
	transform: translateY(0%);
}

.headroom--unpinned{
	transform: translateY(-100%);
}

/* FIN CÓDIGO EFECTOS DEL MENÚ */

/* COMIENZO CÓDIGO MEDIAQUERIES

@media screen and (max-width: 900px){
	.Menu{
		flex-direction: column;
	}

	header .Menu .Logo{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 90%;
		padding: 1em;
	}

	main{
		width: 90%;
		max-width: 1000px;
		height: 540px;
		margin-top: 45px;
		margin-bottom: 20px;
		margin-right: auto;
		margin-left: auto;
		background-color: rgba(0,30,255,.5);
		padding: 20px;
		box-shadow: #696969 10px 10px 15px;
	}

	main h1{
		width: 75%;
	}

	#envoltura{
		margin: 120px auto;
	}

	footer p{
		font: .78em Georgia, "Times New Roman", Times, serif;
		color: #303030;
		text-shadow: #696969 3px 3px 3px;
	}

}

 FIN CÓDIGO MEDIAQUERIES */