@charset "utf-8";

/*
    CÓDIGO FUENTE DESARROLLADO POR FRANKLIN MORENO E HIRAM GONZÁLEZ
    CONTACTO: hiramjgonzalez98@gmail.com
    TODOS LOS DERECHOS RESERVADOS
*/

/* INICIO CÓDIGO RESET CSS */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
 box-sizing: border-box;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

/* FIN CÓDIGO RESET CSS */

/* INICIO CÓDIGO CSS PARA APARIENCIA GENERAL DE LA PÁGINA WEB */

body{
	background-color: #7ac5cd;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	padding-top: 55px;
}

#particles-js{
	margin-top: -20px;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

header{
	background-color: #00b2ee;
	position: fixed;
	width: 100%;
	top: 0;
}

.Logo img{
	display: inline-block;
	width: 50px;
	text-align: center;
}

#Encabezado2{
	display: inline-block;
	width: 180px;
	text-align: center;
	margin-right: 230px;
}

#Encabezado3{
	display: inline-block;
	width: 180px;
	text-align: center;
	margin-left: 215px;
}

.Menu{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.Menu .btn-Menu{
	display: none;
	color: #0000ff;
	text-decoration: none;
	font-size: 1em;
}

.Menu .Enlaces{
	display: inline-block;
	text-align: right;
}

.Ident_Fecha{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Ident_Fecha p{
	margin-right: 245px;
	font: bold 1em 'Nunito Sans', sans-serif;
	color: #696969;
}

.Ident_Fecha span{
	margin-left: 245px;
	font: bold 1em 'Nunito Sans', sans-serif;
	color: #696969;
}

.Menu .Enlaces a{
	color: #696969;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	text-align: center;
	font-size: 16px;
}

.Menu .Enlaces a:hover{
	background-color: #ee3b3b;
	color: #00b2ee;
}

.Menu .Enlaces i{
	margin-right: 5px;
}

main{
	width: 90%;
	max-width: 1000px;
	margin-top: 85px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(0,30,255,.5);
	padding: 20px;
	box-shadow: #696969 10px 10px 15px;
}

article{
	background-color: rgba(240,248,255,.5);
	border: 3px solid rgb(0,30,255);
	padding: 5px;
}

main article h1{
	font: 25px bold;
	text-align: center;
	background-color: #ee3b3b;
}

main article hr{
	margin-bottom: .5em;
	height: 2px;
	background: #00b2ee;
	border: none;
}

footer{
	text-align: center;
	font-size: 1em;
	position: relative;
	bottom: 0;
	width: 100%;
	z-index: -1;
}

footer p{
	font: 1em Georgia, "Times New Roman", Times, serif;
	color: #303030;
	text-shadow: #696969 3px 3px 3px;
}

/* FIN CÓDIGO CSS PARA APARIENCIA GENERAL DE LA PÁGINA WEB */

/* INICIO CÓDIGO DATOS ACADÉMICOS */

#Datos_Est{
	border: 3px solid rgb(0,30,255);
	border-collapse: separate;
	border-spacing: 88px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#Datos_Est tr td p{
	margin-top: -5px;
	margin-bottom: 0px;
	color: #303030;
	font: bold 1em 'Nunito Sans', sans-serif;
}

#Datos_Est tr td input{
	text-align: center;
        color: #333333;
	width: 200px; 
	background-color: rgba(240,248,255,.5);
	margin-top: -5px;
	border-color: transparent;
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
	border-radius:5px;
}

/* FIN CÓDIGO DATOS ACADÉMICOS */

/* INICIO CÓDIGO DATOS DE CONTACTO */

#Datos_C{
	border: 3px solid rgb(0,30,255);
	border-collapse: separate;
	border-spacing: 88px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#Datos_C tr td input{
	text-align: center;
        color: #333333;
	width: 200px; 
	background-color: rgba(240,248,255,.5);
	margin-top: -5px;
	border-color: transparent;
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
	border-radius:5px;
}

#Datos_C tr td p {
	margin-top: -5px;
	margin-bottom: 0px;
	color: #303030;
	font: bold 1em 'Nunito Sans', sans-serif;
}
 
.Tel_Mov{
	text-align: center;
	width: 200px; 
	background-color: rgba(240,248,255,.5);
	margin-top: -5px;
	border-color: transparent;
}
 
.Tel_Dom{
	text-align: center;
	width: 200px; 
	background-color: rgba(240,248,255,.5);
	margin-top: -5px;
	border-color: transparent;
}

.Correo{
	text-align: center;
	width: 200px; 
	background-color: rgba(240,248,255,.5);
	margin-top: -5px;
	border-color: transparent;
}
 
.boton{
    background: #ccc;
    background: -moz-linear-gradient(top,#fc6,#f63);
    background: -webkit-linear-gradient(top,#fc6,#f63);
    background: linear-gradient(top,#fc6,#f63);
    color: #303030;
    width: 120px;
}

.boton:active{
    position: relative;
    top: 3px;
}

#bot{
    padding-top: 10px;
    text-align: right;
}

/* FIN CÓDIGO DATOS DE CONTACTO */ 

/* INICIO CÓDIGO ACTUALIZACIÓN DE CONTRASEÑA */

#Cambio{
	border: 3px solid rgb(0,30,255);
	border-collapse: separate;
	border-spacing: 88px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#Cambio tr td input{
	text-align: center;
        color: #333333;
	width: 200px; 
	background-color: rgba(240,248,255,.5);
	margin-top: -5px;
	border-color: transparent;
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
	border-radius:5px;
}

#Cambio tr td p {
	margin-top: -5px;
	margin-bottom: 0px;
	color: #303030;
	font: bold 1em 'Nunito Sans', sans-serif;
}
 
.Act_Pass{
	text-align: center;
	width: 200px; 
	background-color: rgba(240,248,255,.5);
	margin-top: -5px;
	border-color: transparent;
}
 
.New_Pass{
	text-align: center;
	width: 200px; 
	background-color: rgba(240,248,255,.5);
	margin-top: -5px;
	border-color: transparent;
}

.Vef_Pass{
	text-align: center;
	width: 200px; 
	background-color: rgba(240,248,255,.5);
	margin-top: -5px;
	border-color: transparent;
}
 
.boton{
    background: #ccc;
    background: -moz-linear-gradient(top,#fc6,#f63);
    background: -webkit-linear-gradient(top,#fc6,#f63);
    background: linear-gradient(top,#fc6,#f63);
    color: #303030;
    width: 120px;
}

.boton:active{
    position: relative;
    top: 3px;
}

#bot{
    padding-top: 10px;
    text-align: right;
}

/* FIN CÓDIGO ACTUALIZACIÓN DE CONTRASEÑA */

/* COMIENZO CÓDIGO EFECTOS DEL MENÚ */

.headroom{
	-moz-transition: -moz-transform 0.3s ease;
	-webkit-transition: -webkit-transform 0.3s ease;
	-ms-transition: -ms-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
}

.headroom--pinned{
	transform: translateY(0%);
}

.headroom--unpinned{
	transform: translateY(-100%);
}

/* FIN CÓDIGO EFECTOS DEL MENÚ */

/* COMIENZO CÓDIGO MEDIAQUERIES (RESPONSIVE) */

@media screen and (max-width: 900px){
	.Menu{
		flex-direction: column;
	}

	header .Menu .Logo{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 90%;
		padding: 1em;
	}

	#Encabezado2{
		display: inline-block;
		width: 150px;
		text-align: center;
		margin-right: 0px;
		vertical-align: top;
	}

	#Encabezado3{
		display: inline-block;
		width: 120px;
		text-align: center;
		margin-left: 0px;
		vertical-align: top;
	}

	header .Menu .Logo .btn-Menu{
		display: inline-block;
	}

	header .Menu .Enlaces{
		width: 90%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.Ident_Fecha{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.Ident_Fecha p{
		margin-right: 0px;
		text-align: center;
		font: bold .75em 'Nunito Sans', sans-serif;
		color: #696969;
	}

	.Ident_Fecha span{
		margin-left: 0px;
		text-align: center;
		font: bold .75em 'Nunito Sans', sans-serif;
		color: #696969;
	}

	main{
		width: 90%;
		max-width: 1000px;
		margin-top: 70px;
		margin-bottom: 20px;
		margin-right: auto;
		margin-left: auto;
		background-color: rgba(0,30,255,.5);
		padding: 20px;
		box-shadow: #696969 10px 10px 15px;
	}

	main article h1{
		font: 20px bold;
		text-align: center;
		background-color: #ee3b3b;
	}

	#Datos_Est{
		border: 3px solid rgb(0,30,255);
		border-spacing: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#Datos_Est tr td{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#Datos_Est tr td p{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#Datos_Est tr td input{
		text-align: center;
		width: 200px; 
		background-color: rgba(240,248,255,.5);
		color: #333333;
		margin-top: 0px;
		border-color: transparent;
	}

	#Datos_C{
		border: 3px solid rgb(0,30,255);
		border-spacing: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#Datos_C tr td{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#Datos_C tr td p{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#Datos_C tr td input{
		text-align: center;
		width: 200px; 
		background-color: rgba(240,248,255,.5);
		color: #333333;
		margin-top: 0px;
		border-color: transparent;
	}

	#Cambio{
		border: 3px solid rgb(0,30,255);
		border-spacing: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#Cambio tr td{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#Cambio tr td p{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#Cambio tr td input{
		text-align: center;
		width: 200px; 
		background-color: rgba(240,248,255,.5);
		color: #333333;
		margin-top: 0px;
		border-color: transparent;
	}

	footer p{
		font: .78em Georgia, "Times New Roman", Times, serif;
		color: #303030;
		text-shadow: #696969 3px 3px 3px;
	}

}

/* FIN CÓDIGO MEDIAQUERIES (RESPONSIVE) */